<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"></h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Campaña</th>
                                <th>Total de agentes</th>
                                <th>Horas meta</th>
                                <th>Horas sistema</th>
                                <th>Diferencia</th>
                                <th>Semaforo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- TODO : LISTADO CAMAPAÑAS -->
                            <tr *ngFor="let campania of campanias">
                                <td>{{campania.id_campania }}</td>
                                <td>{{campania.fecha_creacion }}</td>
                                <td>{{campania.nombre }}</td>
                                <td>{{campania.tot_agents}}</td>
                                <td>1800</td>
                                <td>{{campania.hrs_campania}}</td>
                                <td> 0%</td>
                                <td><span class="label  label-rounded label-success">{{ campania.estatus}}</span></td>
                            </tr>




                        </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
</div>

