<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Seleccione un mes para visualizar los datos</label>
                            <select name="" id="" class="form-control" [(ngModel)]="mounth" (change)="searhcHours()">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"></h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Campaña</th>
                                <th>Total de agentes</th>
                                <th>Horas meta</th>
                                <th>Horas sistema</th>
                                <th>Diferencia</th>
                                <th>Semaforo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- TODO : LISTADO CAMAPAÑAS -->
                            <tr *ngFor="let campania of campanias">
                                <td>{{campania.id_campania }}</td>
                                <td>{{campania.fecha_creacion }}</td>
                                <td>{{campania.nombre }}</td>
                                <td>{{campania.tot_agents}}</td>
                                <td>1800</td>
                                <td>{{campania.hrs_campania}}</td>
                                <td> 0%</td>
                                <td><span class="label  label-rounded label-success">{{ campania.estatus}}</span></td>
                            </tr>




                        </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
</div>

