<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Campaña</th>
                                <th>Supervisor</th>
                                <th>Bilingue</th>
                                <th>Forma de pago</th>
                                <th>Meses registrados</th>
                                <th>Meses registrados</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- TODO : LISTADO CAMAPAÑAS -->
                            <tr *ngFor="let agent of agents  | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>{{ agent.nombre_completo }}</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                            </tr>

                        </tbody>
                    </table>
                    <pagination-controls 
                        (pageChange)="pageChange($event)" 
                        id="server"
                        previousLabel="Anterior"
                        nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>