<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="createCampania()"
                        value=""><i class="mdi mdi-plus"></i> Crear campaña</button></h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Campaña</th>
                                <th>Lider</th>
                                <th>Bilingue</th>
                                <th>Forma de pago</th>
                                <th>Meses registrados</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- TODO : LISTADO CAMAPAÑAS -->
                            <tr *ngFor="let campania of campanias">
                                <td>{{campania.id }}</td>
                                <td>{{campania.fecha_creacion }}</td>
                                <td>{{campania.nombre }}</td>
                                <td>{{campania.leaders[0].nombre_completo }}</td>
                                <td>{{campania.bilingue }}</td>
                                <td>{{campania.type_pay.name }}</td>
                                <td><a href="#">{{ campania.months.length}}</a></td>
                                <td class="actions">
                                    <a href="#"><i class="mdi mdi-eye"></i></a>
                                    <a href="#"><i class="mdi mdi-pencil"></i></a>
                                    <a href="#"><i class="mdi mdi-delete"></i></a>
                                    <a [routerLink]="['/dashboard/add-month-campania', campania.id ]"><i class="mdi mdi-plus"></i></a>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
</div>
